@model WebEnrollment.Models.Student
<head>
    <link href="~/Content/student.css" rel="stylesheet" />
</head>
@section scripts{
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();

            var ids = [];
            $(document).on('click', '.btn_Delete', function () {
                $(this).parents('tr').remove();
                var _assoc = $(this).parents('tr').find('.assoc').val();
                ids.push(_assoc);
                $('#removeClassIds').val(ids);
            });

            $("#BtnSearchStudent").click(function () {
                if ($('#txtStudentNumber').val().trim() != "") {
                    $("#StudentSearchForm").submit();
                }
            });

            $("#BtnSave").click(function () {
                $("#StudentForm").submit();
                //if (IsFormValid()) {
                //    $("#StudentForm").submit();
                //}
            });

            function IsFormValid() {
                $('#Error').empty();

                if ($('#StudentNumber').val().trim() == "") {
                    $('#StudentNumber').addClass('errorClass');
                    $('#Error').append("Error: Student Number should have a value <br/>");
                }
                else {
                    $('#StudentNumber').removeClass('errorClass');
                }

                if ($('#FirstName').val().trim() == "") {
                    $('#FirstName').addClass('errorClass');
                    $('#Error').append("Error: First name is required <br/> ");
                }
                else {
                    $('#FirstName').removeClass('errorClass');
                }

                if ($('#LastName').val().trim() == "") {
                    $('#LastName').addClass('errorClass');
                    $('#Error').append("Error: Last name is required <br/>");
                }
                else {
                    $('#LastName').removeClass('errorClass');
                }

                if ($('#Error').text() != "")
                    return false;

                return true;
            }
        });
    </script>
}

<h2>Student Profile</h2>
@using (Html.BeginForm("Search", "Student", FormMethod.Post, new { autocomplete = "off", id = "StudentSearchForm" }))
{
    <div class="jumbotron" id="collapseProfile">
        @if (!Model.IsStudentFound)
        {
            <label id="Error" class="error">Error : Student Number Not Found</label>
            <br />
        }
        <div class="card card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="staticStudentNumber" class="col-sm-4 col-form-label">Search Student No.</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="txtStudentNumber" name="studentNumberSearch" value="@Model.StudentNumberSearch">
                        </div>
                    </div>
                </div>
            </div>
            <span class="col-right">
                <input id="BtnSearchStudent" name="" value="Submit" class="buttonUpdate btn btn-primary" type="button" />
            </span>
        </div>
    </div>
}
@Html.ValidationSummary()
@using (Html.BeginForm("Edit", "Student", FormMethod.Post, new { autocomplete = "off", id = "StudentForm" }))
{
    <div class="jumbotron" id="collapseProfile">
        <label id="Error" class="error"></label>
        <br />
        <div class="card card-body">
            <div class="row">
                @if (Model.ValidationErrors.Any())
                {
                    <label for="" class="col-sm-4 col-form-label error-message">Page not saved</label>
                    <br />
                    foreach (var item in Model.ValidationErrors)
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="" class="col-sm-6 col-form-label error-message">@item.Code : @item.Message</label>
                            </div>
                        </div>
                    }
                    <br />
                }
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="staticStudentNumber" class="col-sm-4 col-form-label">Student Number</label>
                        <div class="col-sm-6">
                            <input type="text" readonly class="form-control" id="StudentNumber" name="StudentNumber" value="@Model.StudentNumber">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticFirstName" class="col-sm-4 col-form-label">First Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticLastName" class="col-sm-4 col-form-label">Last Name</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticBirthday" class="col-sm-4 col-form-label">Birthday</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="datepicker" name="Birthday" value="@Model.Birthday">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="Email" name="Email" value="@Model.Email">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row">
                        <label for="staticMobile" class="col-sm-3 col-form-label">Mobile</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Mobile" name="Mobile" value="@Model.Mobile">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticAddress" class="col-sm-3 col-form-label">Address</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticProgram" class="col-sm-3 col-form-label">Program</label>
                        <div class="col-sm-9">
                            @Html.DropDownListFor(x => Model.Program, Model.ProgramListItems, new { @class = "ProgramDD form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticProgram" class="col-sm-3 col-form-label">Level</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control" id="Level" name="Level" value="@Model.Level">
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="StudentID" name="StudentID" value="@Model.StudentID">
            <input type="hidden" id="removeClassIds" name="removeClassIds" />
            <div class="form-group row"></div>
            <div class="form-group row"></div>
            @if (Model.AssociatedClasses.Any())
            {
                <h4>Associated Classes</h4>
                <div class="form-group row">
                    <table id="Student-Class-Associated" class="table">
                        <thead class="thead-dark"><tr><td scope="col">Code</td><td scope="col">Course</td><td scope="col">Time</td><td scope="col">Date</td><td scope="col">Room</td><td scope="col">Delete</td></tr></thead>
                        <tbody>
                            @foreach (var item in Model.AssociatedClasses)
                            {
                                <tr><input type="hidden" class="assoc" value="@item.ClassID" /><td>@item.ClassCode</td><td>@item.CourseName</td><td>@item.ClassTime</td><td>@item.ClassDate</td><td>@item.RoomNumber</td><td><input type="button" class="btn_Delete"></td></tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            <div class="form-group row">
                <span class="col-right">
                    <input name="" value="Save" class="buttonUpdate btn btn-primary" type="button" id="BtnSave" />
                </span>
            </div>
        </div>
    </div>

    if (Model.UnassociatedClasses.Any())
    {
        <div class="jumbotron" id="collapseProfile">
            <h4>Classes Available</h4>
            <div class="card card-body">
                <div class="form-group row">
                    <table id="Student-Class1">
                        <thead><tr><td></td><td>Code</td><td>Course</td><td>Time</td><td>Date</td><td>Room</td></tr></thead>
                        <tbody>
                            @foreach (var item in Model.UnassociatedClasses)
                            {
                                <tr><td class="radio-input"><input type="radio" name="classSelection" class="form-check-input " value="@item.ClassID" /></td><td>@item.ClassCode</td><td><input type="hidden" class="assoc" value="@item.ClassID" />@item.CourseName</td><td>@item.ClassTime</td><td>@item.ClassDate</td><td>@item.RoomNumber</td></tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-group row">
                    <span class="col-right">
                        <input name="" value="Add" class="buttonUpdate btn btn-primary" type="submit" />
                    </span>
                </div>
            </div>
        </div>
    }
}

